body {
  min-width: 280px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #383636;
}

.header {
  width: 100%;
  height: 8vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.title {
  text-align: center;
  font-size: 27px;
  color: rgb(95, 179, 227);
  text-shadow: 2px 2px 4px rgb(113, 113, 226);
}
.meme-container {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 20px;
  max-width: 30%;
  max-height: 30%;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #e7ede7;
  line-height: 20px;
}

.input-wrapper {
  height: 40px;
  width: 270px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: #48acc0;
  color: #fffbfb;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.input-wrapper:hover {
  background-color: #0f69ad;
}

.input-wrapper input[type='file'] {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.uploaded-image {
  object-fit: contain;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

button {
  background-color: #4caf50;
  width: 180px;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.meme-text {
  color: #000;
  font-size: 16px;
  background-color: transparent;
  padding: 5px;
  z-index: 1;
}

.my-canvas {
  width: 400px;
  cursor: pointer;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 5px;
}

.add-text-button {
  background-color: #3498db;
  color: #fff;
}

.add-text-button:hover {
  background-color: #2980b9;
}

.delete-text-button {
  background-color: #e74c3c;
  color: #fff;
}

.delete-text-button:hover {
  background-color: #c0392b;
}

.save-text-button {
  background-color: #27ae60;
  color: #fff;
}

.save-text-button:hover {
  background-color: #219e54;
}

.save-meme-button {
  background-color: #f39c12;
  color: #fff;
}

.save-meme-button:hover {
  background-color: #d68910;
}

span {
  color: rgb(238, 246, 250);
  display: block;
  margin-top: 20px;
}

.text-input {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  margin-bottom: 20px;
}

.text-input::placeholder {
  color: #ccc;
}

.text-input:focus {
  border-color: #3498db;
}

.text-input:valid {
  border-color: #27ae60;
}

.text-input:invalid {
  border-color: #e74c3c;
}

@media (max-width: 500px) {
  .my-canvas {
    width: 280px;
  }
}
