body {
  min-width: 280px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #383636;
}

.header {
  width: 100%;
  height: 8vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.title {
  text-align: center;
  font-size: 27px;
  color: rgb(95, 179, 227);
  text-shadow: 2px 2px 4px rgb(113, 113, 226);
}
.meme-container {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 20px;
  max-width: 30%;
  max-height: 30%;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #e7ede7;
  line-height: 20px;
}

.input-wrapper {
  height: 40px;
  width: 270px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: #48acc0;
  color: #fffbfb;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.input-wrapper:hover {
  background-color: #0f69ad;
}

.input-wrapper input[type='file'] {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.uploaded-image {
  object-fit: contain;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

button {
  background-color: #4caf50;
  width: 180px;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.save-meme-button {
  background-color: #008cba;
}

.save-meme-button:hover {
  background-color: #0073a3;
}

.add-text-button,
.add-img-button {
  background-color: #ffc107;
}

.add-text-button:hover {
  background-color: #e0a800;
}

.meme-text {
  color: #000;
  font-size: 16px;
  background-color: transparent;
  padding: 5px;
  z-index: 1;
}

.my-canvas {
  width: 500px;
  height: 500px;
}
