body {
  min-width: 280px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #383636;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

.header {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  font-size: 35px;
  color: rgb(95, 179, 227);
  text-shadow: 2px 2px 4px rgb(113, 113, 226);
  margin-top: 0;
  margin-bottom: 30px;
}

label {
  display: block;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #e7ede7;
  line-height: 20px;
}

.input-wrapper {
  height: 40px;
  width: 270px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: #48acc0;
  color: #fffbfb;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.input-wrapper:hover {
  background-color: #0f69ad;
}

.input-wrapper input[type='file'] {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.uploaded-image {
  object-fit: contain;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

button:disabled {
  background-color: #c6eff5;
  cursor: auto;
  color: #0f68adba;
}
button:disabled:hover {
  background-color: #c6eff5;
}

.meme-text {
  color: #000;
  font-size: 16px;
  background-color: transparent;
  padding: 5px;
  z-index: 1;
}

.my-canvas {
  width: 400px;
  cursor: pointer;
  background-image: url('/assets/img/template.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
  box-shadow: 0 2px 10px rgba(246, 245, 245, 0.333);
  margin-right: 10px;
}

.add-text-button {
  background-color: #3498db;
  color: #fff;
}

.add-text-button:hover {
  background-color: #2980b9;
}

.delete-text-button {
  background-color: #e74c3c;
  color: #fff;
}

.delete-text-button:hover {
  background-color: #c0392b;
}

.save-text-button {
  background-color: #27ae60;
  color: #fff;
}

.save-text-button:hover {
  background-color: #219e54;
}

.save-meme-button {
  background-color: #f39c12;
  color: #fff;
}

.save-meme-button:hover {
  background-color: #d68910;
}

span {
  color: rgb(238, 246, 250);
  display: block;
  margin-top: 20px;
}

.text-input {
  width: 100%;
  padding: 8px;
  font-size: 17px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  margin-bottom: 10px;
}

.text-input::placeholder {
  color: #ccc;
}

.text-input:focus {
  border-color: #3498db;
}

.text-input:valid {
  border-color: #27ae60;
}

.text-input:invalid {
  border-color: #e74c3c;
}

.text-properties-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-properties-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.text-properties {
  display: flex;
  flex-direction: column;
}

.text-properties input[type='range'],
.text-properties select {
  width: 60%;
  padding: 5px;
  font-size: 15px;
  border: none;
  border: 1px solid #fafcfd;
  border-radius: 6px;
  background-color: #c5ccee;
}

.text-properties input[type='color'] {
  border-radius: 5px;
  padding: 2px;
  margin-top: 5px;
}

.text-properties input[type='range'] {
  width: 100%;
}

.text-properties input[type='color']:focus,
.text-properties input[type='range']:focus,
.text-properties select:focus {
  outline: none;
  border: 1px solid #1f227c;
  box-shadow: 0 0 5px #5655a9;
}

.image-label {
  margin-top: 0;
  animation: pulse 1.5s infinite;
  text-align: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 500px) {
  .my-canvas {
    width: 280px;
  }

  .text-properties-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .container {
    padding: 20px;
  }

  .text-input {
    width: 90%;
    align-self: center;
  }
  .text-properties input[type='range'] {
    width: 50%;
  }
  button {
    width: 96%;
  }
  .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
